
.navbar {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px 1px grey;
}
.navbar__link {
    list-style: none;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-color);
}

.navbar__link--left li {
    margin-right: 88px;
}

.navbar__link--right li {
    margin-left: 88px;
}