.navbar {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 1px 5px 1px grey;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: box-shadow 0.3s, top 0.3s;
}

.navbar .logo {
    cursor: pointer;
}

.navbar__link {
    list-style: none;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-color);
    cursor: pointer;
}

.navbar__link--left li {
    margin-right: 88px;
}

.navbar__link--right li {
    margin-left: 88px;
}

.navbar-shadow {
    box-shadow: 0 1px 5px 1px grey;
}

.hidden-navbar {
    top: -100px;
}